.example-form {
  // min-width: 150px;
  // max-width: 500px;
  padding: 0px;
  width: 100%;
}

.example-full-width {
  width: 100%;    padding: 0px;
} 

.nopadding {
  padding: 0px;
  width: 100%;
}

.width-tb {
  padding: 0px;
    width: 40px;
}

.width-comment {
  padding: 0px;
  width: 250px;
}

.text-middle-allign {
  text-align:center;
  vertical-align: middle;
}

.width-weekchoice {
  width: 200px;
}

.width-pre {
  margin-right: 10px;    
}

.width-next{
  margin-left: 10px;  
}

.button-margin{
  margin: 5px;  
}

