// p {
//     font-family: Lato;
//   }

.greenbold {
    color: green;
    font-weight: bold;
    margin-bottom: 0px;
} 


.orangebold {
    color: orange;
    font-weight: bold;
    margin-bottom: 0px;
} 

.redbold {
    color: red;
    font-weight: bold;
    margin-bottom: 0px;
} 


.hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 70px;
    width: 70px;
    // border: 5px solid #000;
    border-radius: 50%;
}
.hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
    user-select: none; // non selectable text
    -moz-user-select: none; // non selectable text
    -khtml-user-select: none; // non selectable text
    -webkit-user-select: none; // non selectable text
    -o-user-select: none; // non selectable text
}
.hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.7);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}
.hoverable:hover .hover-text{
    display: block;
}
.hoverable:hover .background{
    display: block;
}
  
#fileInput{
    display: none;
}