.input-form {
    min-width: 150px;
    max-width: 200px;
    width: 100%;
}

.input-date-form {
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
    width: 100%;
}



.example-full-width {
    width: 100%;
}

.width-pre {
    margin-right: 10px;    
}
  
.width-next{
    margin-left: 10px;  
}